<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
  <test name="chromeBrowser" >
  <parameter name="url" value="https://www.google.com/"/>
  <parameter name="browsertype" value="CH" />
      <classes>
      <class name="saravana.parametrizedtesting"/>
    </classes>
  </test> <!-- Test -->
  <test name="FirefoxBrowser" >
  <parameter name="url" value="https://www.google.com/" />
  <parameter name="browsertype" value="FF" />
      <classes>
      <class name="saravana.parametrizedtesting"/>
    </classes>
  </test> <!-- Test -->
 </suite>  <!-- Suite -->
